* {
    font-family: Century Gothic;
}

.header {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.content {
    margin-bottom: 0.5rem;
}

button {
    font-weight: bold;
    margin: 15px;
    width: 80%;
    min-height: 60px;
    opacity: 0.9;
}

.category {
    font-size: xx-large;
    padding-left: 100px;
}

.btn-primary {
    color: black;
}

button.btn-primary.anything-goes {
    background-color: blueviolet;
    border-color: #333;
}
button.btn-primary.hypotheticals {
    background-color: #f7921e;
    border-color: #333;
}
button.btn-primary.no-brainers {
    background-color: #01aef0;
    border-color: #333;
}
button.btn-primary.personals {
    background-color: gold;
    border-color: #333;
}
button.btn-primary.random-question {
    background-color: #333;
    border-color: #333;
    color: white;
}
button.btn-primary.loaded-questions-button {
    background-color: #01aef0;
    border-color: #333;
}
button.btn-primary.scattergories-button {
    background-color: #e71e26;
    border-color: #333;
}

button.btn-primary.anything-goes:hover {
    background-color: #731570;
}
button.btn-primary.hypotheticals:hover {
    background-color: #c17316;
}
button.btn-primary.no-brainers:hover {
    background-color: #248ab5;
}
button.btn-primary.personals:hover {
    background-color: #c3bb20;
}
button.btn-primary.random-question:hover {
    background-color: #161515
}
button.btn-primary.loaded-questions-button:hover {
    background-color: #248ab5;
}
button.btn-primary.scattergories-button:hover {
    background-color: #b3171d;
}

#question {
    font-family: Century Gothic;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
#category {
    font-family: Century Gothic;
    font-weight: bold;
    text-align: center;
}

#letter {
    font-size: xxx-large;
    font-weight: bold;
}