body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  background-color: #d9ead3;

  padding: 2rem 6rem;
}

img#logo-header {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.montserrat-900 {
  font-weight: 900;
}

h1 {
  margin-bottom: 20px;
}

h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p, li, button {
  font-size: 1.4rem;
}

.title-small-caps {
  font-variant: small-caps;
}

.game-date {
  opacity: .8;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 14px;
}

.game-attributes {
  font-size: 1.2rem;
  font-weight: bold;
}

.sign-up-button {
  font-size: 1.4rem;
  width: 100%;
}

.nhsuk-card-group__item {
  display: block;
}

.past-game {
  max-height: 325px;
  max-width: 100%;
  object-fit: cover;
}

.past-game:not(:first-child) {
  margin-top: 6px;
}

img.past-game {
  border: 3px solid #00662f;
  border-radius: 30px;
}